body {
  background-color: #ffffff ; }

/* estilos del header */
header {
  background-color: #3c99dc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 15px; }
  header .logo1 {
    width: 50px; }
  header nav {
    width: 40%; }
    header nav .menu1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: 'Oswald', sans-serif; }
      header nav .menu1 li {
        list-style: none; }
        header nav .menu1 li a {
          text-decoration: none;
          color: black; }

/* FIN HEADER */
/* inicio index */
main {
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
  /* container 1 */
  /* container 2 */ }
  main .container1 {
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    box-shadow: 1px 5px 10px gray;
    background-color: #e6e0e0; }
    main .container1 h1 {
      font-family: 'Inter', sans-serif;
      text-align: center;
      text-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0); }
    main .container1 img {
      width: 100%;
      height: 400px; }
  main .container2 {
    width: 70%;
    padding: 1%;
    /*GRID */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 25% 10%;
    gap: 5px 12px;
    grid-template-areas: "header"
 "presentacion"
 "contenido"
 "footer";
    /*NOMBRE DE LAS AREAS*/ }
    main .container2 header {
      grid-area: header; }
    main .container2 .container1 {
      grid-area: presentacion; }
    main .container2 .container2 {
      grid-area: contenido; }
    main .container2 footer {
      grid-area: footer; }
    main .container2 .imagen3 {
      width: 700px;
      height: 400px;
      border-radius: 25px;
      box-shadow: 1px 5px 10px gray; }
    main .container2 .imagen4 {
      border-radius: 25px;
      box-shadow: 1px 5px 10px gray; }

/* footer */
footer {
  height: 8rem;
  background: #3c99dc;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); }
  footer .menu__footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px;
    margin: 0 auto; }
    footer .menu__footer ul {
      display: flex;
      flex-wrap: wrap; }
      footer .menu__footer ul a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        color: #f5eeee;
        background-color: #020202;
        border-radius: 10%;
        transition: color, background-color 0.5s ease-in; }
        footer .menu__footer ul a a:hover {
          color: #7c7c7c;
          background-color: white; }

/* fin footer */
