/* inicio index */

main{
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
 /* container 1 */
    .container1{
        overflow: hidden;
        position: relative;
        border-radius: 25px;
        box-shadow:  1px 5px 10px gray;
        background-color: rgb(230, 224, 224);
        h1{
            font-family: 'Inter', sans-serif;
            text-align: center;
            text-shadow: 0px 0px 0.8px rgba(0, 0, 0, 0);
        }
        img{
            width: 100%;
            height: 400px;
        }
    }

    /* container 2 */

    .container2{
        width: 70%;
        padding: 1%;
        /*GRID */
        display: grid; 
        grid-template-columns: 1fr 1fr ; 
        grid-template-rows: 10% 25% 10%; 
        gap: 5px 12px; 
        grid-template-areas: 
            "header"
            "presentacion"
            "contenido"
            "footer"
        ; 
                /*NOMBRE DE LAS AREAS*/
        header{
            grid-area: header;
    
        }
    
        .container1{
            grid-area: presentacion;
        }
    
        .container2{
            grid-area: contenido;
        }
    
        footer{
            grid-area: footer;
        }
    
        .imagen3{
            width: 700px;
            height: 400px;
            border-radius: 25px;
            box-shadow:  1px 5px 10px gray;
        }
    
        .imagen4{
            border-radius: 25px;
            box-shadow:  1px 5px 10px gray;
        }    
    
    }
}