body{
    background-color: rgb(248, 248, 242);
}

@import "header.scss";
@import "index.scss";
@import "footer.scss";
@import "maps.scss";
@import "variables.scss";
@import "extend.scss";
@import "mixin.scss";
@import "emprender.scss";